h1,
h2,
h3 {
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.App-header {
  padding-bottom: 24px;
  color: black;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 6px;
  max-width: fit-content;
  margin-inline: auto;
}

.playerMenu, .gameMenu {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.button {
  width: 64px;
  height: 64px;
  margin: auto;
  border: 2px solid blue;
}

.button.active {
  outline: 2px solid red;
}

.menuButton {
  width: 128px;
  border: 2px solid purple;
}

.theWinner {
  font-size: 2.8rem;
  position: fixed;
  width: 100%;
  background: url(https://www.placecage.com/c/640/300) no-repeat;
  padding: 24px 0;
  background-position: center;
  background-size: cover;
  color: yellow;
}