h1,
h2,
h3 {
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.App {
  background: rgb(205,70,25);
  background: linear-gradient(180deg, rgba(205,70,25,1) 19%, rgba(187,14,131,1) 35%, rgba(224,218,6,1) 70%, rgba(0,212,255,1) 100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.App-header {
  padding-bottom: 24px;
  color: white;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 6px;
  max-width: fit-content;
  margin-inline: auto;
}

.playerMenu, .gameMenu {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.button {
  width: 64px;
  height: 64px;
  margin: auto;
  border: 2px solid blue;
}

.menuButton {
  width: 128px;
  border: 2px solid purple;
}

.theWinner {
  font-size: 2.8rem;
  position: fixed;
  width: 100%;
  background: url(https://www.placecage.com/c/640/300) no-repeat;
  padding: 24px 0;
  background-position: center;
  background-size: cover;
  color: yellow;
}